body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    margin: 0;
}

#container {
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: rgb(6, 59, 59);
    color: beige;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
    /*10px 10px 10px 10px a contect körül*/
}

#nav {
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}



#main-kaktusz {
    width: 1000px;
    float: right;

}

#main-játék {
    width: 1000px;
    float: right;

}

.jatekmargo {
    padding: 20px;
}

#footer {
    clear: both;
    padding: 10px;
    /*float elementeket összerakja*/
    background-color: rgb(6, 59, 59);
    color: white;
    text-align: right;
}